[submodule "java"]
	path = java
	url = https://github.com/uzilan/exercism-solutions-java.git
[submodule "kotlin"]
	path = kotlin
	url = https://github.com/uzilan/exercism-solutions-kotlin.git
[submodule "scala"]
	path = scala
	url = https://github.com/uzilan/exercism-solutions-scala.git
[submodule "python"]
	path = python
	url = https://github.com/uzilan/exercism-solutions-python.git
[submodule "go"]
	path = go
	url = https://github.com/uzilan/exercism-solutions-go.git
